*{
    padding: 0;
    margin: 0;
}

.b1{
    margin: 0;
    padding: 0;
    background-color: rgba(220, 220, 220, 0.767);
}
.nbkr{
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(243, 239, 239);
    height: 125px;
}
.n{
    margin-bottom: 25px;
    width:450px;
    height: 120px;
}
.n1{
    margin-bottom: 25px;
    margin-left: 5px;
    width:120px;
    height: 120px;
}
nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.pic3{
    width: auto;
    height: 720px;
    color: black;

    background: rgb(176, 193, 224);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.pic4{
    font: bolder;
    color: white;
    width: auto;
    height: 400px;
    background: black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);

}


label{
    width: 600px;
    
    margin-left: 250px;
    font-family: 'Alata', sans-serif;

    color: rgb(12, 2, 2);
    display: inline-block;
    font-size: 25px;

}
input{
    padding: 15px;
    border: 1px solid rgb(1, 1, 15);
    width: 150px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family : 'Lobster',cursive;
    font-weight: bold;
}

table{
    margin-top: 40px;
    border: 1px solid white;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
}
td{
    color: rgb(235, 210, 71);
    border: 1px solid  white;
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
}
th{
    border: 1px solid  white;
    color: whitesmoke;
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
}



nav ul {
    margin-left: 50px;
    margin-right: 50px;
    list-style-type: none;
    overflow: hidden;
    background:rgb(176,196,222);
    width: 100%;
}

nav ul li {
    display: inline-block;
    color: rgb(82, 72, 72);
    text-align: center;
    margin: 20px 30px ;
    text-decoration: none;
    font-size: 20px;
}
li a {
    text-decoration: none;
    font-family : 'Lobster',cursive;  
}
li a.active {
    background-color: #3f3cd3;
}

.mech{
    margin-top: 1px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: rgb(5, 5, 68);
    height: 50px;
    font-family : 'Lobster',cursive;  
    font-size: 15px;
    color: aliceblue;
    width: auto;
    
}
.menu{
    margin-top: 10px;
}
.menu .b1{
    
    width: 100px;
    height: 60px;
    font-size: 25px;
    background:rgb(20, 20, 20);
    color: black;
    border: none;
    border-radius: 10px;
    margin-left: 20px;      
}
.b2{
    width: 250px;
    height: 60px;
    font-size: 25px;
    background: rgb(20, 20, 20);
    color: wheat;
    border: none;
    border-radius: 10px;
    display: inline-block;
    margin-left: 10px;
}

.front{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 25px;
    color: rgb(5, 5, 68);
    font-family : 'Lobster',cursive; 
}

.about{
    font-size: 18px;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: white;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgb(102, 123, 212) 0%, rgb(40, 102, 141) 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 12px 12px 24px rgba(55, 66, 64, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}
  



@media only screen and (max-width: 560px) {
    /* For mobile phones: */
    *{
        padding: 0;
        margin: 0;
    }
    
    .b1{
        margin: 0;
        padding: 0;
        background-color: rgba(220, 220, 220, 0.767);
    }
    .nbkr{
        margin-top: 5px;
        margin-left: 2px;
        margin-right: 2px;
        background-color: rgb(189, 179, 179);
        height: 52px;
    }
    .n{
        margin-bottom: 45px;
        width:155px;
        height: 50px;
    }
    .n1{
        margin-bottom: 45px;
        margin-left: 1.2px;
        width:26px;
        height: 50px;
    }
    nav {
        display: flex;
        justify-content: space-around;
        text-align: center;
        
    }
    
    .pic3{
        width: auto;
        height: 1200px;
        border: 2px solid rgb(14, 15, 14);
        border-radius: 8px;
        background: white;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 10px;
    }
    .fon{
        margin: 0;
    }
    .mech{
        margin-top: 1px;
        margin-left: 1px;
        margin-right: 2px;
        padding-top: 10px;
        padding-left: 20px;
        background-color: rgb(5, 5, 68);
        height: 31px;
        font-family : 'Lobster',cursive;  
        font-size: 9px;
        color: aliceblue;
        width: auto;
        
    }
    .m1{
        font-size: 25px;
        font-family: 'Rye', cursive;
        color: rgb(48, 168, 215);
        text-decoration: none;
    }
    .pic4{
        width: auto;
        height: 260px;
        border: 2px solid grey;
        border-radius: 8px;
        background: white;
        margin-left: 1px;
        margin-right: 2px;
        margin-top: 10px;
    
    }
    
    label{
        
        margin: 5px;
        margin-left: 100px;
        width: auto;
        font-family: 'Poppins',sans-serif;
        color: black;
        display: inline-block;
        font-size: 20px;
    
    }
    input{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2px 0 5px 0;
        margin-left: 20px;
        height: 25px;
        width: 300px;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 15px;
        border: 1px solid #ccc;
        border-bottom-width: 1px;
        transition: all 0.3s ease;
        /* padding: 4px;
        border: 1px solid rgb(118, 118, 173);
        border-radius: 3px;
        width: 50px;
        height: 3px;
        margin-bottom: 10px;
        font-size: 5px; */
    }
        
    
    table{
        margin-top: 15px;
        border: 1px solid black;
        width: auto;
        font-family: 'Poppins',sans-serif;
        table-layout:fixed;
        border-collapse: collapse;
    }
    td{
        color: rgb(8, 7, 2);
        border: 1px solid  black;
        border-collapse: collapse;
        text-align: left;
        padding: 5px;
        padding-left: 1px;
        font-size:9px;
    }
    th{
        border: 1px solid black;
        color: black;
        border-collapse: collapse;
        padding-left: 2px;
        padding-bottom: 5px;
        font-size: 7.5px;
        font-weight: bolder;
    }
    .front{
        font-size: 10px;
    }
    
  }

    